version: '3.8'

services:
  pgadmin-prod:
    image: dpage/pgadmin4
    container_name: pgadmin-prod
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PG_ADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PG_ADMIN_PASSWORD}
    ports:
      - "5050:80"
    networks:
      - backend-prod

networks:
  backend-prod:
    external: true